<table id="rentals" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Movie</th>
        <th>Date Rented</th>
        <th>Return</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>